#about{
    .container-box{
       padding: 0 1rem;

        .card{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            margin-bottom: 1rem;
            height: auto;

            .image{
                position: relative;
                z-index: 99;
                justify-self: center;

                img{
                    border-radius: 50%;
                    object-fit: cover;
                    display: block;
                    opacity: 0.8;   
                    justify-self: center;
             
                }
            } 
           
            &:nth-child(even) img, .box{
                order: 2;
            }
              
            .box {
                background: #fff;
                box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
                text-align: center;
                height: 320px;
                border-radius: 5px;

                h3 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
            }

            .box-content{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 320px;

                p{
                    font-size: 1.2rem;
                    margin: .5rem 0;
                }
            }

            .bg{
                background-color: #f4f4f4;
            }

            .about-p{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
               padding: 1rem;
               min-height: 320px;
               p{
                    margin-bottom: 1rem;
                    font-size: 1rem;
                    text-align: left;
                    font-weight: 600;
                }
            }
        }
    }
}

@media (max-width: 736px){
    #about{
        .container-box{
            .card{
                display: block;    
                width: 80%;
                margin: auto;
                margin-bottom: 1rem;

                .image{
                    margin-bottom: 1rem;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .box{
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
